<div class="wrapper row">
  <div class="col-md-9 col-xs-12">
    {{#if countryData.x.value}}
      <div class="error-message">{{fa-icon "check"}} Results were found for <a target="_blank" href="{{countryData.x.value}}">{{countryData.name.value}}</a></div>
    {{/if}}
    {{#if queryError}}
      <div class="error-message">{{fa-icon "frown-o"}} {{queryError}}</div>
    {{/if}}
    <div id="world-map-container">
    </div>
    {{#if loadingDetails}}
      <div class="loading-data">{{fa-icon "cog" spin=true}} Fetching results for: <br> {{countrySelection.properties.name}}</div>
    {{/if}}
  </div>
  <div class="col-md-3 col-xs-12 query-panel">
    <h3>SPARQL Query
      <span class="pull-right icon-button spec-query-toggle-menu" {{action 'toggleDropdown'}}>
        <a href="">
          {{fa-icon "gear"}}
        </a>
      </span>
      <span class="pull-right icon-button spec-github-link">
        <a target="_blank" href="https://github.com/lydiaguarino/lg-data-map">
          {{fa-icon "github"}}
        </a>
      </span>
    </h3>
    {{#if showOptions}}
      <div class="spec-query-menu query-panel__menu">
        <label class="query-panel__menu__option spec-query-name">
          {{input type="checkbox" checked=opt.name.include disabled=true}}
          Country Name
        </label>
        <label class="query-panel__menu__option spec-query-resource">
          {{input type="checkbox" checked=opt.resource.include disabled=true}}
          Resource Link
        </label>
        <label class="query-panel__menu__option spec-query-pop">
          {{input type="checkbox" checked=opt.population.include}}
          Population
        </label>
        <label class="query-panel__menu__option spec-query-lat">
          {{input type="checkbox" checked=opt.lat.include}}
          Latitude
        </label>
        <label class="query-panel__menu__option spec-query-long">
          {{input type="checkbox" checked=opt.long.include}}
          Longitude
        </label>
        <label class="query-panel__menu__option spec-query-lang">
          {{input type="checkbox" checked=opt.language.include}}
          Language
        </label>
        <label class="query-panel__menu__option spec-query-cur">
          {{input type="checkbox" checked=opt.currency.include}}
          Currency
        </label>
        <label class="query-panel__menu__option spec-query-cap">
          {{input type="checkbox" checked=opt.capital.include}}
          Capital
        </label>
        <label class="query-panel__menu__option spec-query-ab">
          {{input type="checkbox" checked=opt.abstract.include}}
          Abstract
        </label>
      </div>
    {{/if}}

    {{#if currentQuery}}
      <pre class="spec-query-preview">{{currentQuery}}</pre>
      <button class="btn btn-primary spec-query-reset" {{action "resetQuery"}}>Reset Query</button>
    {{else}}
      <pre class="spec-query-instructions">Click on a country
to build a SPARQL Query.</pre>
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    {{#if countryData}}
      <h3>Raw DBpedia Response (JSON)</h3>
      <pre>{{countryDataString}}</pre>
      <h3>Query Details for {{countryData.name.value}}</h3>
      {{#if countryData.x}}<p>Resource: <a target="_blank" href="{{countryData.x.value}}">{{countryData.name.value}}</a></p>{{/if}}
      {{#if countryData.pop}}<p>Population: {{countryData.pop.value}}</p>{{/if}}
      {{#if countryData.lat}}<p>Latitude: {{countryData.lat.value}}</p>{{/if}}
      {{#if countryData.long}} <p>Longitude: {{countryData.long.value}}</p>{{/if}}
      {{#if countryData.cur}}<p>Currency: <a target="_blank" href={{countryData.cur.value}}>{{linked-resource countryData.cur.value}}</a></p>{{/if}}
      {{#if countryData.cap}}<p>Capital: <a target="_blank" href={{countryData.cap.value}}>{{linked-resource countryData.cap.value}}</a></p>{{/if}}
      {{#if countryData.lang}}<p>Official Language: <a target="_blank" href={{countryData.lang.value}}>{{linked-resource countryData.lang.value}}</a></p>{{/if}}
      {{#if countryData.ab}}
        <h3>Description</h3>
        <p>{{countryData.ab.value}}</p>
      {{/if}}
    {{/if}}
  </div>
</div>
