<div class="container">

  <div class="row">

    {{! Map Panel }}
    <div class="map-panel col-md-9 col-xs-12">
      {{! Status Messages }}
      {{#if s.countryData.x.value}}
        <div class="map-panel__query-status spec-status">
          {{fa-icon "check"}} Results were found for
          <a target="_blank" href="{{s.countryData.x.value}}">
            {{s.countryData.name.value}}
          </a>
        </div>
      {{/if}}

      {{! Error Messages }}
      {{#if s.queryError}}
        <div class="map-panel__query-status spec-status">
          {{fa-icon "frown-o"}} {{s.queryError}}
        </div>
      {{/if}}

      {{! Map Component Insertion Point }}
      {{world-map countrySelectionChanged='countrySelectionChanged'}}

      {{! Loading State Modal }}
      {{#if s.loadingDetails}}
        <div class="map-panel__loading-modal spec-loading-modal">
          {{fa-icon "cog" spin=true}} Fetching results for:
          <br>
          {{s.countrySelection.properties.name}}
        </div>
      {{/if}}
    </div>

    {{! Query Panel }}
    <div class="query-panel col-md-3 col-xs-12">
      <h3>SPARQL Query
        {{! Query Nav }}
        <span class="query-panel__icon-button pull-right spec-query-toggle-menu" {{action 'toggleDropdown'}}>
          <a href="">
            {{fa-icon "gear"}}
          </a>
        </span>
        <span class="query-panel__icon-button pull-right spec-github-link">
          <a target="_blank" href="https://github.com/lydiaguarino/lg-data-map">
            {{fa-icon "github"}}
          </a>
        </span>
      </h3>

      {{! Query Options Menu }}
      {{#if showOptions}}
        <div class="query-panel__menu spec-query-menu">
          <label class="query-panel__menu__option spec-query-name">
            {{input type="checkbox" checked=s.opts.name.include disabled=true}}
            Country Name
          </label>
          <label class="query-panel__menu__option spec-query-resource">
            {{input type="checkbox" checked=s.opts.resource.include disabled=true}}
            Resource Link
          </label>
          <label class="query-panel__menu__option spec-query-pop">
            {{input type="checkbox" checked=s.opts.population.include}}
            Population
          </label>
          <label class="query-panel__menu__option spec-query-lat">
            {{input type="checkbox" checked=s.opts.lat.include}}
            Latitude
          </label>
          <label class="query-panel__menu__option spec-query-long">
            {{input type="checkbox" checked=s.opts.long.include}}
            Longitude
          </label>
          <label class="query-panel__menu__option spec-query-lang">
            {{input type="checkbox" checked=s.opts.language.include}}
            Language
          </label>
          <label class="query-panel__menu__option spec-query-cur">
            {{input type="checkbox" checked=s.opts.currency.include}}
            Currency
          </label>
          <label class="query-panel__menu__option spec-query-cap">
            {{input type="checkbox" checked=s.opts.capital.include}}
            Capital
          </label>
          <label class="query-panel__menu__option spec-query-ab">
            {{input type="checkbox" checked=s.opts.abstract.include}}
            Abstract
          </label>
        </div>
      {{/if}}

      {{! Query Preview Options }}
      {{#if s.currentQuery}}
        <pre class="query-panel__preview spec-query-preview">{{s.currentQuery}}</pre>
        <button class="query-panel__button btn btn-primary" {{action "resetQuery"}}>
          Reset Query
        </button>
      {{else}}
        <pre class="query-panel__preview--empty spec-query-instructions">Click on a country
to build a SPARQL Query.</pre>
      {{/if}}
    </div>
  </div>

  {{! Results Panel }}
  {{#if s.countryData}}
    <div class="results-panel row">
      <div class="col-md-9">

        {{! Raw Response }}
        <h3>
          Raw DBpedia Response (JSON)
        </h3>
        <pre class="results-panel__raw spec-raw-response">{{countryDataString}}</pre>

        {{! Formatted Response }}
        <h3>
          Query Details for {{s.countryData.name.value}}
        </h3>

        {{#if s.countryData.x}}
          <p class="results-panel__data">
            Resource:
            <a target="_blank" href="{{s.countryData.x.value}}">
              {{s.countryData.name.value}}
            </a>
          </p>
        {{/if}}

        {{#if s.countryData.pop}}
          <p class="results-panel__data spec-pop-response">
            Population: {{large-num s.countryData.pop.value}}
          </p>
        {{/if}}

        {{#if s.countryData.lat}}
          <p class="results-panel__data">
            Latitude: {{s.countryData.lat.value}}
          </p>
        {{/if}}

        {{#if s.countryData.long}}
          <p class="results-panel__data">
            Longitude: {{s.countryData.long.value}}
          </p>
        {{/if}}

        {{#if s.countryData.cur}}
          <p class="results-panel__data">
            Currency:
            <a target="_blank" href={{s.countryData.cur.value}}>
              {{linked-resource s.countryData.cur.value}}
            </a>
          </p>
        {{/if}}

        {{#if s.countryData.cap}}
          <p class="results-panel__data">
            Capital:
            <a target="_blank" href={{s.countryData.cap.value}}>
              {{linked-resource s.countryData.cap.value}}
            </a>
          </p>
        {{/if}}

        {{#if s.countryData.lang}}
          <p class="results-panel__data">
            Official Language:
            <a target="_blank" href={{s.countryData.lang.value}}>
              {{linked-resource s.countryData.lang.value}}
            </a>
          </p>
        {{/if}}

        {{#if s.countryData.ab}}
          <h3>Description</h3>
          <p class="results-panel__data">
            {{s.countryData.ab.value}}
          </p>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
